{
  "extends": [
    "@remix-run/eslint-config",
    "@remix-run/eslint-config/node",
    // https://github.com/prettier/eslint-plugin-prettier#recommended-configuration
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": "warn",
    "no-console": "warn",
    "@typescript-eslint/no-explicit-any": "warn"
  }
}
